.button {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-white);

    padding: 12px 24px;
    background-color: var(--color-hover);
    border-radius: 4px;
}

.button__todo {
    --size: 32px;
    background: none;
    border: 1px solid var(--color-primary);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: all 0.6s ease;
}

.button__todo_active {
    background: var(--color-complete);
    border: none;
}