@font-face {
    font-family: 'Inter';
    src: url('Inter18pt-Regular.woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter18pt-Medium.woff2');
    font-weight: 500;
    font-display: swap;
}